# Archivo de configuración para PyPI
# Copiar este archivo como ~/.pypirc (en tu home directory)
# y completar con tus credenciales

[distutils]
index-servers =
    pypi
    testpypi

[pypi]
username = __token__
password = pypi-

[testpypi]
repository = https://test.pypi.org/legacy/
username = __token__
password = pypi-
