[distutils]
index-servers =
    pypi
    testpypi

[pypi]
username = __token__
password = # Inserta tu token de PyPI aquí (empieza con pypi-)

[testpypi]
repository = https://test.pypi.org/legacy/
username = __token__
password = # Inserta tu token de TestPyPI aquí
